
// /*  font-awesome */

// @font-face {
//   font-family: 'FontAwesome';
//   src: url('../fonts/fontawesome/fontawesome-webfont.eot?v=4.3.0');
//   src: url('../fonts/fontawesome/fontawesome-webfont.eot?#iefix&v=4.3.0') format('embedded-opentype'), url('../fonts/fontawesome/fontawesome-webfont.woff2?v=4.3.0') format('woff2'), url('../fonts/fontawesome/fontawesome-webfont.woff?v=4.3.0') format('woff'), url('../fonts/fontawesome/fontawesome-webfont.ttf?v=4.3.0') format('truetype'), url('../fonts/fontawesome/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular') format('svg');
//   font-weight: normal;
//   font-style: normal;
// }

/* GENERAL STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1,h2,h3,h4,h5,h6{
  font-family: "Poppins",sans-serif;
  line-height: 32px;
}
body{
  font-family: "Raleway",sans-serif;
}
p {
  color: #666666;
  font-family: "Raleway",sans-serif;
  font-weight: normal;
  font-size: 15px;
  line-height: 1.8;
  margin-bottom: 1.25rem;
}
a {
  color: #333;
  text-decoration: none !important;
}
ul,li{
  margin: 0;
  padding: 0;
  list-style: none;
}
img {
  max-width: 100%;
  height: auto;
}
/*buttons*/

.btn-def {
    padding: 6px 15px;
    background: #1a1a1a;
    color: #fff;
    overflow: hidden;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
    border-radius: 0 !important;
}

.topbar {
    background: #111 none repeat scroll 0% 0%;
    padding: 5px 0;
}
.topbar-ul {
    text-align: right;
    margin: 0;
    padding: 0;
}
.topbar-text p {
    margin: 0px;
    padding: 0px;
    color: #fff;
}
.topbar-text {
    text-align: left;
    padding: 5px 0px 0px;
}
.topbar-ul li ul.dropdown li:hover {
    background: #111;
}
 .header-top-menu ul li {
    display: inline-block;
    position: relative;
    line-height: 21px;
    text-align: left;
    min-width: 108px;
}
.topbar-ul li a{
    color: #fff;
  display: inline-block;

  font-size: 13px;
  font-weight: 400;
  padding: 10px 9px 10px;
  text-transform: capitalize;
    position: relative;
  text-decoration: none;
}


.product-name {
    font-size: 13px;
    margin: 0px;
}
.topbar-ul li a i {
    padding: 4px;
}
.topbar-ul li ul.dropdown {
    min-width: 100%;
    background: #111 none repeat scroll 0% 0%;
    display: none;
    position: absolute;
    z-index: 999;
    left: 0;
    font-size: 13px;
    color: #333;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.topbar-ul li:hover ul.dropdown{
    display: block;
    color: #fff;
}
   .topbar-ul li ul.dropdown li {
    display: block;
    background: #111;
}
.topbar-ul li ul.dropdown li a{
    display: block;
    color: #fff;
    text-decoration: none;
    border-bottom: 1px solid #444;
}

  .cart i {
    font-size: 18px;
    background: #fff;

}
.cart-num {
    color: #fff;
    border-radius: 100%;
    width: 21px;
    height: 21px;
    position: absolute;
    background: #fbc825;
    left: 11px;
    top: -6px;
    padding-left: 7px;
    cursor: pointer;
}

.england {
    background: url("../images/england.png") no-repeat scroll 6% 10px;
    padding: 8px 7px 7px 41px !important;
}

.french {
    background: url("../images/french.png") no-repeat scroll 6% 10px;
    padding: 8px 7px 7px 41px !important;
}
.spain {
    background: url("../images/spain.png") no-repeat scroll 6% 10px;
    padding: 8px 7px 7px 41px !important;
}


.dropdown-cart {
    position: absolute;
    display: inline-block;
    left: 31px;
    margin-top: -14px;
}
.dropdown-cart i {
    font-size: 24px;
    color: #333;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #F9F9F9;
    min-width: 252px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 999;
    left: -107px;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown-cart:hover .dropdown-content {
    display: block;
}
.cart-item {
    float: left;
    height: auto;
    width: 90%;
}
.cart-item img {
    float: left;
    margin-right: 11px;
}

.product-name {
    margin-top: 3px !important;
    position: relative;
    line-height: 1.4;
}

.cart-item i {
    margin-top: -66px;
    float: right;
    font-size: 15px;
    color: #333;
    border: 1px solid #45484d;
    width: 22px;
    height: 22px;
    padding-left: 4px;
    padding-top: 2px;
}
.cart-item img {
    float: left;
    margin-left: 13px;
    margin-right: 8px;
    margin-top: 2px;
    border: 1px solid #D4D4D4;
}
.cart-price {
    margin-top: 11px;
}
.recent {
    position: relative;
    margin-top: 17px;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    margin-bottom: -11px;
}
.subtotal {
    position: relative;
    text-align: center;
    margin-bottom: 5px;
    font-weight: bold;
}
.subtotal span {

    font-weight: bold;
    font-size: 22px;
    color: #fbc825;
}
.cart-btn-group {
    position: relative;
    text-align: center;
    margin-bottom: 10px;
}
.checkout {
        padding: 6px 15px;
    background: #1a1a1a;
    color: #fff;
    overflow: hidden;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
    border-radius: 0;
    margin-top: 8px;
}
.checkout:hover {
    background: #fbc825;
    color: #fff;
    transition: all 0.6s ease-out 0s;
}


.slider-banner-sec .banner-slider-item{
  position: relative;
  width: 100%;
  height: 650px;
  outline: 0;
  background-size: cover !important;
  -webkit-background-size: cover;
      -moz-background-size: cover;
          background-size: cover;
              -o-background-size: cover;
}
.slider1{
  background-image:url("../images/slide1.jpg");
}
.slider2{
  background-image:url("../images/slider1.jpg");
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
button, html input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
}
button, select {
    text-transform: none;
}
button {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font: inherit;
    color: inherit;
}
  /*menu overrides
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.menu-container {
  width: 100%;
  margin: 0 auto;
  background: #fff;
}
.menu {
  text-align: right;
  float: right;
}
.menu > ul > li{
  background: none;
}
.menu > ul > li > ul > li a {
    color: #777;
    padding: 1em;
    width: 95%;
    display: block;
    border-bottom: 1px solid #ccc;
    font-size: 15px;
    text-align: left;
}

  /*Slider section
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.slider-home1 {
    position: relative;
    margin: 0px auto;
    left: 0px;
    position: relative;
    padding-right: 17px;
    margin-bottom: 17px;
    height: 450px;
    overflow: hidden;
    visibility: visible;
}

.slider-home1 {
    position: relative;
    margin: 0px auto;
    left: 0px;
    position: relative;
    padding-right: 17px;
    margin-bottom: 17px;
    height: 450px;
    overflow: hidden;
    visibility: visible;
}



  /*Box Content
–––––––––––––––––––––––––––––––––––––––––––––––––– */


.caption-no-img {
    text-align: center !important;
    display: inline-block;
    background: rgb(0, 0, 0) none repeat scroll 0% 0%;
    margin: 29px;
    height: 258px;
    margin-bottom: 0;
  }

.caption h2 {
    font-size: 23px;
    font-weight: bold;
    font-family: "Poppins",sans-serif;
    text-transform: uppercase;
    margin-bottom: 29px;
}
.caption h2:after {
    content: "";
    left: 26px;
    width: 70px;
    display: block;
    position: absolute;
    border-top: 2px solid #fbc825;
    margin-top: 13px;
}
.caption h3 {
    font-size: 17px;
    color: #666;
    margin-top: 0;
    margin-bottom: 15px;
}
.caption-large h2 {
    margin-top: 12px;
    float: left;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #333 !important;
}
/*banner box*/

.banner-home .banner-box {
  overflow: hidden;
  position: relative;
  display: block;
  text-align: center;
   display: table;
    background-size: cover !important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.banner-home .box-large {
    height: 500px;
    outline: 0;
    background-image: url(../images/test.jpg);
    width: 100%;
}
.banner-home .box-first {
    height: 250px;
    outline: 0;
    background-image: url(../images/banner1.jpg);
    width: 100%;
}
.banner-home .box-second {
    height: 250px;
    outline: 0;
    background-image: url(../images/girldress.jpg);
    width: 100%;
}
.banner-home .caption {
    display: table-cell;
    vertical-align: middle;
    text-align: left;
    padding-left: 50px;
    padding-right: 200px;
}
.nopad{
  padding: 0;
}

.banner-home .banner-box img {
width: 100%;
}

/*..... Trending section.... */

.trending-slider-carousel .trending-slider-item {
    margin-right: 20px;
    outline: 0;
}

figure {
  position: relative;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
}
.large-img-heading {
    margin-top: 78px;
}
figcaption h2 {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 32px;
  color: #333;
}
.box-content-img {
  display: inline-block;
  vertical-align: middle;
  background: rgb(0, 0, 0) none repeat scroll 0% 0%;
  width: 100%;
}


  /* Sections
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.sec {
    padding: 60px 0;
}
.section-heading {
  margin: 0 0 45px 0;
  position: relative;
  text-align: center;
}
.section-heading h3::before, .section-title::before {
  background: none repeat scroll 0 0 #333;
  content: " ";
  position: relative;
  width: 38px;
  height: 2px;
  display: inline-block;
  top: -7px;
  margin: 0 9px;
}
.section-heading h3::after, .section-title::before {
  background: none repeat scroll 0 0 #333;
  content: " ";
  position: relative;
  width: 38px;
  height: 2px;
  display: inline-block;
  top: -7px;
  margin: 0 8px;
}
.section-heading h3, .section-title h3 {
  width: auto;
  z-index: 1;
  padding: 0 22px;
  font-size: 25px;
  color: #333;
  text-transform: Capitalize;
  margin: 0;
  position: relative;
  font-weight: 700;
}
.section-heading span{
  margin-top: 10px;
  display: block;
}
.nopadding {
  position: relative;
  max-width: 100%;
  list-style: outside none none;
  text-align: center;
  max-height: 100%;
  padding: 4px;
}
.isreview {
    display: block;
    margin-top: 5px;
}
.price-val.product-price {
    color: #fbc825;
    font-size: 16px;
    font-family: Poppins;
    margin-top: 7px;
}
.inner {
    padding: 17px 6px;
    transform: translateY(0px);
    transition-duration: 0.3s;
}



/*---------------*/
/***** Lexi *****/
/*---------------*/

.trending-slider-item figure.effect-lexi img.secondary-image{
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  z-index: 1;
}
.trending-slider-item:hover  figure.effect-lexi img.secondary-image
{
  opacity: 1;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}
.trending-slider-item .item-background {
  position: absolute;
  left: 0px;
  bottom: -100%;
  width: 100%;
  height: 100%;
  background: rgba(129, 153, 162, 0.2) none repeat scroll 0% 0%;
  z-index: 1;
  padding: 40px 35px;
  transition: all 0.6s ease-out 0s;
}
.trending-slider-item .product-icons {
  padding-top: 60px;
}
.trending-slider-item .product-icons a {
    background: #fff none repeat scroll 0 0;
    border-radius: 0;
    box-shadow: none;
    color: #333;
    font-size: 16px;
    font-weight: 400;
    height: 36px;
    line-height: 36px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    text-align: center;
    text-shadow: none;
    width: 42px;
    text-decoration: none;
}
.add-cart-btn {
    background: #fff none repeat scroll 0 0;
    border-radius: 0;
    box-shadow: none;
    color: #333;
    font-size: 15px;
    margin-top: 5px;
    padding: 9px 11px;
    overflow: hidden;
    position: relative;
    text-align: center;
    text-shadow: none;
    outline: 0;
}
.add-cart-btn i {
    margin-right: 10px;
}
.trending-slider-item .product-icons a:hover {
  background: #fbc825;
  transition: all 0.6s ease-out 0s;
}
.trending-slider-item .hiden-text { z-index:1;padding-top: 40px;transform: translate(0px, -50px);
transition: all 1s ease-out 0s;}

.trending-slider-item:hover .item-background {bottom: 0px;}
.trending-slider-item:hover .item-background .hiden-text {opacity: 1; padding-top: 0px;}

.product-contents {
  position: relative;
  background-color: #F6FBF9;
  z-index: 1;
  text-align: center;
}
.product-title a {
    font-size: 15px;
    color: #333;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Poppins",sans-serif !important;
}

.product-label-trending {
  position: absolute;
  display: block;
  top: 0;
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;
  color: #FFF;
  z-index: 2;
}
.product-label {
  position: absolute;
  display: block;
  top: 1px;
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;
  color: #FFF;
  z-index: 2;
  left: 15px;
}
.product-label > span.label-sale {
    color: #FFF;
    background-color: #333;
}
.product-label > span {
  height: 28px;
  line-height: 28px;
  display: inline-block;
  text-align: center;
  padding: 0px 10px 0px 15px;
  position: relative;
}
.product-label > span > span {
  display: inline-block;
}
.product-label > span.label-sale::after {
  border-color: #333 transparent transparent #333;
}
.product-label > span::after {
  border-style: solid;
  border-width: 28px 20px 0px 0px;
  bottom: 0px;
  content: "";
  right: -20px;
  position: absolute;
}
.product-label-trending > span.label-sale {
  color: #FFF;
  background-color: #fbc825;
}
.product-label-trending > span {
  height: 28px;
  line-height: 28px;
  display: inline-block;
  text-align: center;
  padding: 0px 10px 0px 15px;
  position: relative;
}
.product-label-trending > span > span {
  display: inline-block;
}
.product-label-trending > span.label-sale::after {
  border-color: #333 transparent transparent #333;
}
.product-label-trending > span::after {
  border-style: solid;
  border-width: 28px 20px 0px 0px;
  bottom: 0px;
  content: "";
  right: -20px;
  position: absolute;
}



.image-row-text {
    position: absolute;
    display: block;
    top: 11px;
    text-transform: uppercase;
    color: #FFF;
    z-index: 2;
    text-align: center;
    padding-left: 28px;
}
.image-row-text h2 {
    font-family: "Poppins",sans-serif !important;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 32px;
    color: #FFF;
    margin-top: 16%;
}
.image-row-text h3 {
    font-size: 18px;
    color: #fff;
}
.image-row-text h1{
    margin-top: 80px;
    font-family: "Poppins",sans-serif !important;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 49px;
    color: #FFF;
    margin-top: 51px;
}
.row1 {
    background: #333 none repeat scroll 0% 0%;
    margin-top: 0px;
    height: 232px;
    display: table;
    width: 100%;
}
.orange-text {
    display: table-cell;
    padding: 0px 35px;
    vertical-align: middle;
    text-align: center;
}
.orange-text h4 {
    color: #FFF;
    font-weight: 400;
    font-size: 17px;
}


.row4 {
    background: #333 none repeat scroll 0% 0%;
    margin-top: 0px;
    height: 232px;
    display: table;
    width: 100%;
}
.black-text {
    display: table-cell;
    padding: 0px 35px;
    vertical-align: middle;
    text-align: center;
}
.black-text h4 {
    color: #FFF;
    font-weight: 400;
    font-size: 14px;
}
.shopnow {
    background: transparent none repeat scroll 0% 0%;
    border: 1px solid;
    margin-top: 20px;
}


.subscribe {
    background: transparent none repeat scroll 0% 0%;
    border: 1px solid;
    margin-top: 20px;
}
.zeropadding{
  padding: 0px;
}
.black-text input {
    background: #555 none repeat scroll 0px 0px;
    border: medium none;
    color: #FFF;
    float: left;
    font-size: 10px;
    height: 35px;
    margin-top: 10px;
    padding-left: 10px;
    width: 80%;
}
input {
    line-height: 400;
}
.black-text button {
    background: #fbc825;
    border: medium none;
    float: left;
    font-size: 18px;
    color: #FFF;
    height: 35px;
    line-height: 35px;
    margin: 10px 0px 5px;
    text-align: center;
    transition: all 0.3s ease 0s;
    width: 35px;
}












.row-right-first {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    color: #060606;
    font-family: Verdana,Geneva,sans-serif;
}
.row-right-first h4 {
    font-size: 19px;
    font-weight: bold;
}
.row-right-first p {
    font-size: 14px;
    font-weight: 400;
    padding-left: 22px;
    padding-right: 22px;
}

.icons {
    text-align: center;
    color: #DAA66F;
    font-size: 45px;
}

.icons .fa {
    border: medium solid;
    border-radius: 50%;
    width: 80px;
    height: 75px;
    padding-top: 13px;
    font-size: 43px;
}

.icons .fa:hover {
    background: #dAAF66;
    color: #fff;
}
.icons img {
    width: 68px;
    margin-top: 37px;
}

.icons {
    text-align: center;
    color: #DAA66F;
    font-size: 45px;
}




.row-right-group {
    background: rgb(255, 255, 255) none repeat scroll 0% 0%;
    position: relative;
    margin-bottom: 22px;
    height: 235px;
    margin-top: 64px;
    padding-top: 23px;

}





.logos{
  border: 1px solid;
}


/*Blog Post ...............

*/
.blog-post-wrapper {
    background: #FCFCFC;
}
.blog-post-wrapper .blog-post-item{
  outline: 0;
  margin-right: 20px;
}
.blog-post-item .blog-share {
  color: #DAAF66 !important;
  text-decoration: none;
}
.blog-post-item .blog-text a {
  color: #DDB0B0 !important;
}
.blog-post-item .blog-text span {
  font-size: 12px;
  font-style: 400;
  padding: 8px;
}
.blog-post-item .blog-share {
  width: 39px;
  height: 37px;
  color: #DAA66F;
  background: transparent;
  padding-top: 5px;
  margin-right: -10px;
  position: relative;
  padding-left: 30px;
}
.blog-post-item .icons-wrapper {
  margin-top: -2px;
  margin-bottom: 7px;
}
.blog-post-item .icons-wrapper span i {
  font-size: 17px;
  padding-right: 8px;
}
.blog-post-item .blog-text {
  background: #FFF none repeat scroll 0% 0%;
  margin-left: 15px;
  text-align: justify;
  margin-top: -87px;
  display: inline-block;
  margin-right: 15px;
  padding: 20px;
}
.blog-post-item .blog-text h3 {
  font-size: 21px;
  margin-top: 9px;
  font-family: "Poppins",sans-serif;
}
.blog-post-item .blog-detail {
    margin-top: -2px;
}
.blog-post-item .blog-detail p {
  font-size: 15px;
  margin-top: 11px !important;
  line-height: 22px;
  text-align: left;
}


.footer {
  color: #aaa;
  background-color: #111;
}
.footer-contact-text {
    list-style: none;
    padding: 3px;
    margin-top: 10px;
}
.footer .infor ul a{
  color: #aaa !important;
}
.footer p,.footer span,.footer i{
  color: #aaa !important;
}
.insta li {
  float: left;
  margin: 0px 15px 15px 0px;
  background-color: #1E1E1E;
  width: 70px;
  transition: all 0.3s ease 0s;
}

.footer-tag li {
    display: inline-block;
    margin: 0px 5px 11px 0px;
}

.recent-posts .post h4 {
    font-size: 15px;
    font-weight: 400;
    margin: 0px 0px 5px;
    line-height: 2em;
    color: #292929;
}
.recent-posts .post .post-thumb {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 72px;
    height: 72px;
}
.recent-posts .post {
    position: relative;
    font-size: 14px;
    margin-bottom: 20px;
    min-height: 60px;
    padding: 0px 0px 0px 84px;
    color: #CCC;
}
.footer-contact-text i {
    border-radius: 100%;
    color: #333;
    float: left;
    font-size: 13px;
    height: 32px;
    line-height: 30px;
    margin-right: 10px;
    text-align: center;
    width: 32px;
    border: 1px solid #333;
}

.infor li {
    padding: 5px;
}
.footer h4 {
  color: #fff;
  font-family: "Poppins",sans-serif;
  font-size: 20px;
  margin-bottom: 25px;
}
.copyright-section {
    background: #111;
    color: #fff;
    border-top: 1px solid #444;
    padding: 10px 0;
}
.copyright-section .payment-options {
    margin-top: 12px;
    text-align: right;
}
.copyright {
    margin-top: 12px;
    text-align: left;
}




/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
.container {width:450px}
}

.owl-item {
    margin-bottom: 28px;
}
.owl-item img {
    width: 100%;
}


.viewmode >a > i {
   font-size: 20px;
line-height: 33px;
}
.viewmode .toggleactive
{

display: inline-block;
height: 34px;
margin-left: 7px;
text-align: center;
width: 37px;
color: #333;
}

.viewmode >a{
  border: 1px solid;
}

.viewmode .toggledeactive
{

display: inline-block;
height: 34px;
margin-left: 7px;
text-align: center;
width: 37px;
color: #DDD;
}
.toolbar {
    margin-top: 37px;
}

.viewmode .toggledeactive>i
{
  color: #DDD;
}

.viewmode>a:hover{
  border-color: #333;
}

.verticalnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #f1f1f1;
}

.verticalnav li a {
    color: #797979;
    font-family: "Raleway",sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 35px;
    display: inline-block;
    text-transform: capitalize;
}
.verticalnav li::before {
    font-family: "FontAwesome";
    content: "";
    margin-right: 11px;
    font-size: 14px;
    color: #A8A8A8;
    line-height: 35px;
    margin-left: 18px;
}
.verticalnav li span {
    font-size: 13px;
    margin-right: 16px;
    color: #989090;
    float: right;
}


.shop {
    font-family: "Poppins",sans-serif;
    font-size: 16px;
    color: #fff;
    font-size: 16px;
    padding: 9px 18px 11px;
    background: #333;
    margin-bottom: 1px;
    margin-top: 40px;
}
.tag > ul > li > button {
    background: transparent none repeat scroll 0% 0% !important;
    border-radius: 0px !important;
    color: rgb(53, 49, 49);
    border: 1px solid rgb(0, 0, 0);
}
.tag > ul > li {
    float: left;
    margin: 10px 9px -3px 0px;
}
.tag > ul {
    margin-left: -2px;
}



.add-cart {
    background: transparent none repeat scroll 0% 0% !important;
    border-radius: 0px !important;
    color: #353131;
    border: 1px solid #AEADAD !important;
    height: 35px;
}

.add-cart:hover{
  background: #333 !important;
  color: #fff;}

  .add-cart {
    margin-top: 6px;
}

.actions li {
    float: left;
    margin-right: 12px;
    margin-bottom: 12px;
}
.actions li > a {
    font-size: 21px;
    height: 34px;
    width: 37px;
    cursor: pointer;
    line-height: 1.6;
    padding-left: 8px;
    margin-top: 6px;
    color: #fff;
    background: #fbc825;
}}

.product-list {
    margin-bottom: 39px !important;
    position: relative;
}


#gal1 img{border:2px solid white;}
/*Change the colour*/ .active img{border:2px solid #333 !important;}
.first-image {
    height: 566px;
}








.product-detail h6 {
    font-size: 12px;
    float: right;
    position: relative;
    margin-top: 29px;
}


.single-pro-tab{
  padding: 0px;
margin: 0px;
list-style: outside none none;
display: inline-block;
float: left;
}
.content p {
    text-align: justify;
    padding-left: 27px;
    border: 1px solid #AAA;
    padding-top: 14px;
    padding-right: 27px;
    padding-bottom: 14px;
}
span.old-price {
    color: #909295;
    font-size: 15px;
    margin-left: 10px;
    text-decoration: line-through;
}



/*Checkout page*/
.checkout-text {
    font-size: 31px;
    color: #333;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Poppins",sans-serif !important;
    padding-bottom: 22px;
}
.color-hover {
    color: #9f9696;
}
.color-hover:hover {
    color: #333;
}
.panel-title >a:hover, .panel-title >a:focus {

    text-decoration: none;
    outline: none;
outline: none;
outline-offset: none;
}
.checkout-submit-btn {
    display: inline-block;
    padding: 8px 41px;
    margin-bottom: 0px;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.42857;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    margin-top: 14px;
    background: #333;
    color: #fff;
}
.forgot {
    color: #333;
}

.coupon-box{
width: 30%
}
.order {
    background: #F6FBF9;
    padding: 16px 29px 8px;
}
.table > thead > tr > th {
    font-size: 19px;
}
.table > tbody > tr > td{
  font-size: 17px;
}
label {
    font-size: 17px;
}
.extra-bold {
    font-weight: bold;
}
.panel-title > a {

    font-weight: bold;
}

.quick-view{
  padding-top: 30px;
}


    #owl-demo-carousel .item img{
        display: block;
        width: 100%;
        height: auto;
    }


/*Cart Image*/
.center-align {
    text-align: center;
    vertical-align: middle !important;
}
.cart-image {
    height: auto;
    padding: 0;
    width: 130px;
}
.cart-quantity {
    width: 30% !important;
}
.cart-quantity {
    width: 30% !important;
}
.center-align i {
    font-size: 19px;
}
.table-bordered tr th {
    font-size: 18px !important;
}
.cart-btn {
    display: inline-block;
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    margin-top: 26px;
    background: #333;
    color: #fff;
    padding: 12px 100px;
    margin-bottom: 23px;
}
.have-a-coupon {
    font-size: 15px;
    font-family: "Poppins",sans-serif;
    font-weight: bold;
    padding-bottom: 13px;
}
.cart-form-wrapper{
  padding-top: 45px;
}
.cart-coupon-box {
    width: 50% !important;
}
.grand-total {
    text-align: right;
    display: block;
    margin-top: 18px;
    padding-left: 36px;
    padding-right: 23px;
    padding-top: 33px;
    text-align: right;
    background: #E3E3E3;
    padding-bottom: 39px;
}
.multiple-address {
    text-decoration: none;
    color: #483535;
}
h5,h4{
  font-family: "Poppins",sans-serif;
}
.edit{
  color: #222222;
  text-decoration: none !important;
}

/*Account */

.login-form {
    padding: 25px;
    border: 1px solid #AAA;
    height: 490px;
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
.container-fluid {width:450px;}
.header-top-menu{
  text-align: center;
}}




/*Single large image*/

.slider-featured-item{
  outline: 0;
}
.slider-featured-item img{
    max-height: 585px;
}
.slider-featured-item .round-label {
  width: 100px;
  height: 100px;
  display: block;
  position: absolute;
  right: 0px;
  top: 15px;
  border-radius: 50%;
  background:#fbc825;
  left: 20%;
}
.slider-featured-item .round-label h3 {
  text-transform: uppercase;
  color: #FFF;
  text-align: center;
  font-family: "Poppins",sans-serif !important;
  font-size: 25px;
  margin: 0;
  padding-top: 25px;
}
.slider-featured-item .old-prices {
  display: inline-block;
  position: absolute;
  top: 56px;
  left: 24px;
  text-decoration: line-through;
  color: #e3dddd;
  font-size: 16px;
}
.slider-featured-item .large-img-wrapper {
    padding-top: 64px;
    padding-bottom: 93px;
}
.single-product {
    overflow: hidden;
    position: relative;
    margin-bottom: 40px;
}

.slider-featured-item .product-img{
    width: 39%;
    float: left;
}
.slider-featured-item  .product-img {
    position: relative;
    display: block;
}
.slider-featured-item .price-box {
  margin-top: 10px;
  margin-bottom: 15px;
}
.slider-featured-item .product-name a {
  color: #333;
  font-size: 14px;
}
.slider-featured-item .product-img a img {
  transition: all 0.3s ease 0s;
  width: 100%;
}
.slider-featured-item .list-product-title a {
  font-size: 24px !important;
  color: #333;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Poppins",sans-serif !important;
}
.slider-featured-item .new-price {
  font-weight: bold;
  color: #333;
  font-size: 20px;
  margin-top: 12px;

}
.slider-featured-item .product-desc p {
  position: relative;
  margin-top: 16px;
}

.add-to-cart a {
  text-decoration: none;
  background: #fbc825;
  border-bottom: 0px none;
  border-top: 0px none;
  font-size: 12px;
  padding: 5px 5px;
  color: #FFF;
}

.add-to-cart {
    text-decoration: none;
    margin-top: 6px;
}


/* Product accordion*/
.product-accordion .product-img{
  position: relative;
  width: 39%;
  float: left;
}
.product-accordion .tabs span {
  font-family: Poppins;
}
.product-accordion .product-name {
    font-size: 15px;
    color: #333;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Poppins",sans-serif !important;
}
.product-accordion .product-img .secondary-image {
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  z-index: 1;
}
.product-accordion .product-img:hover .secondary-image{
  opacity: 1;
}
.product-content {
  float: left;
  width: 53%;
  padding-left: 26px;
}
figure, figcaption {
  display: block;
}

.transition {
    -webkit-transition: top 400ms linear;
    -moz-transition: top 400ms linear;
    -ms-transition: top 400ms linear;
    -o-transition: top 400ms linear;
    transition: top 400ms linear;
}

.timeTo {
    font-size: 28px;
    line-height: 108%;
    font-weight: bold;
    height: 91px;
    margin-top: 42px;
}

.timeTo span {
  vertical-align: top;
}

.timeTo.timeTo-white div {
  color: black;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 38%, #cccccc 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(38%,#ffffff), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 38%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 38%,#cccccc 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 38%,#cccccc 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffffff 38%,#cccccc 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
}
.timeTo.timeTo-black div {
  color: white;
    background: #45484d; /* Old browsers */
    background: -moz-linear-gradient(top, #45484d 0%, #333000 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484d), color-stop(100%,#333000)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #45484d 0%,#333000 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #45484d 0%,#333000 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #45484d 0%,#333000 100%); /* IE10+ */
    background: linear-gradient(to bottom, #45484d 0%,#333000 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#333000',GradientType=0 ); /* IE6-9 */
}

.timeTo.timeTo-black .timeTo-alert {
    background: #a74444; /* Old browsers */
    background: -moz-linear-gradient(top, #a74444 0%, #3f0000 67%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a74444), color-stop(67%,#3f0000)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #a74444 0%,#3f0000 67%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #a74444 0%,#3f0000 67%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #a74444 0%,#3f0000 67%); /* IE10+ */
    background: linear-gradient(to bottom, #a74444 0%,#3f0000 67%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a74444', endColorstr='#3f0000',GradientType=0 ); /* IE6-9 */
}

.timeTo.timeTo-white .timeTo-alert {
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 35%, #e17373 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(35%,#ffffff), color-stop(100%,#e17373)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 35%,#e17373 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 35%,#e17373 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 35%,#e17373 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffffff 35%,#e17373 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e17373',GradientType=0 ); /* IE6-9 */
}

.timeTo figure {
    display: inline-block;
    margin: 0;
    padding: 0;
    height: 106px;
}
.timeTo figcaption {
    text-align: center;
    font-size: 16px !important;
    line-height: 86%;
    color: #333;
    margin-top: 35px;
    left: -24px;
    text-transform: capitalize;
    font-weight: bold;
    font-family: "Poppins",sans-serif;
}

.timeTo div {
  position: relative;
  display: inline-block;
  width: 25px;
  height: 30px;
  border-top: 1px solid silver;
  border-right: 1px solid silver;
  border-bottom: 1px solid silver;
  overflow: hidden;
}
.timeTo div.first {
  border-left: 1px solid silver;
}

.timeTo ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 8px !important;
}

.timeTo ul li {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: "Poppins",sans-serif;
}
 pre {
       display: none;
        }

/*Subscribe  Wrapper*/
.subscribe-wrapper {
    background: url("../images/parallax.jpg");
    background-size: cover;
    height: 400px;
    position: relative;
}
.newsletter {
    padding-top: 60px;
}
.block_content {
    margin-top: 23px;
}
.newsletter-desc {
    font-size: 17px;
    margin-bottom: 16px;
}

/*---------------*/
/***** Ming *****/
/*---------------*/



/*---------------*/
/***** Ming *****/
/*---------------*/

figure.effect-ming {
  background: #030c17;
}

figure.effect-ming img {
  opacity: 0.9;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
}

figure.effect-ming figcaption::before {
  position: absolute;
  top: 30px;
  right: 30px;
  bottom: 30px;
  left: 30px;
  border: 1px solid #fff;
  box-shadow: 0 0 0 30px rgba(255,255,255,0.2);
  content: '';
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale3d(1.4,1.4,1);
  transform: scale3d(1.4,1.4,1);
}



figure.effect-ming p {
  padding: 1em;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}

figure.effect-ming:hover h2 {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}

figure.effect-ming:hover figcaption::before,
figure.effect-ming:hover p {
  opacity: 1;
  -webkit-transform: scale3d(1,1,1);
  transform: scale3d(1,1,1);
}

figure.effect-ming:hover figcaption {
  background-color: rgba(58,52,42,0);
}

figure.effect-ming:hover img {
  opacity: 0.4;
}


/*Feature Section*/
.feature-sec {
  display: block;
  width: 100%;
}
.feature-sec .feature-content-wrap {
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 25px;
  display: table;
  padding-right: 25px;
  min-height: 230px;

}
.feature-sec .color1{
    background: #cedbec none repeat scroll 0 0;
}
.feature-sec .color2{
    background: #f3e8e0 none repeat scroll 0 0;
}
.feature-sec .color3{
    background: #e0f3e8 none repeat scroll 0 0;
}
.feature-sec i {
  font-size: 44px;
  vertical-align: middle;
  display: table-cell;
}
.feature-text-wrapper {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    margin-left: 25px;
}
.feature-text-wrapper h3 {
    font-size: 19px;
    font-weight: bold;
    margin-bottom: 6px;
    font-family: "Poppins",sans-serif;
    text-transform: uppercase;
    margin-top: 30px;
}
.feature-text-wrapper p {
    line-height: 1.5;
}

 /*About Us page*/
    .read-more {
    padding: 6px 15px;
    background: #1a1a1a;
    color: #fff;
    overflow: hidden;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
    border-radius: 0;
    margin-top: 8px;
}
.read-more:hover {
    background: #fbc825;
    color: #fff;
    transition: all 0.6s ease-out 0s;
}
.wrap_right{
    position: relative;
    margin-top: 42px;
}
.about-feature-sec {
    background: #fbc825;
    color: #fff;
    margin-top: 50px;
    margin-bottom: 50px;
}
.about-feature-sec .col-md-4 {
    padding-top: 20px;
    padding-bottom: 21px;
}
.about-feature-sec i {
    font-size: 44px;
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    position: absolute;
    top: 22px;
}
.about-feature-text-wrapper {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    margin-left: 58px;
}
.about-feature-text-wrapper h3 {
    font-size: 19px;
    font-weight: bold;
    margin: 0;
    font-family: "Poppins",sans-serif;
    text-transform: uppercase;
}
.about-feature-text-wrapper p {
    line-height: 1.2em;
    }


.abt {
    height: 316px;
    background: white;
    margin-top: 22px;
    text-align: center;
}

.about {
    min-height: 393px;
    background: #fbc825;
    margin-top: 55px;
}
.aboutus-text {
    text-align: center;
    color: black;
    font-size: 26px;
    margin-top: 26px;
    margin-bottom: 26px;
}

.aboutus-txt {
    text-align: center;
    font-size: 24px;
    padding: 12px;
}

.abttxt {
    color: #333;
    margin-top: 5px;
    border: 3px solid;
    padding: 58px;
}
.ourteam {
    margin-top: 8px;
    color: black;
    font-size: 26px;
    text-align: center;
}

.team img {

    margin-top: 23px;
}

.team {
    height: 175px;
    text-align: center;

}
.emp {
    margin-top: 39px;
    font-size: 18px;
    color: #121111;
}
.social {
    height: 51px;
    background: #fbc825 ;
}

.social ul li {
    display: inline-block;
    margin: 15px 15px;
display: inline-block;

}

.social ul li a i {
    font-size: 21px;
    color: #fff;
}

/*breadcrumb-sec*/
.breadcrumb-sec {
    display: inline-block;
    padding-top: 32px;
    overflow: hidden;
    border-radius: 5px;
    counter-reset: flag;
    padding-bottom: 32px;
}
.breadcrumb-sec a {
  text-decoration: none;
  outline: none;
  display: block;
  float: left;
  font-size: 12px;
  line-height: 36px;
  color: white;
  /*need more margin on the left of links to accomodate the numbers*/
  padding: 0 10px 0 60px;
  background: #666;
  background: linear-gradient(#666, #333);
  position: relative;
}
/*since the first link does not have a triangle before it we can reduce the left padding to make it look consistent with other links*/
.breadcrumb-sec a:first-child {
  padding-left: 46px;
  border-radius: 5px 0 0 5px; /*to match with the parent's radius*/
}
.breadcrumb-sec a:first-child:before {
  left: 14px;
}
.breadcrumb-sec a:last-child {
  border-radius: 0 5px 5px 0; /*this was to prevent glitches on hover*/
  padding-right: 20px;
}

/*hover/active styles*/
.breadcrumb-sec a.active, .breadcrumb-sec a:hover{
  background: #333;
  background: linear-gradient(#333, #333);
}
.breadcrumb-sec a.active:after, .breadcrumb-sec a:hover:after {
  background: #333;
  background: linear-gradient(135deg, #333, #333);
}

/*adding the arrows for the breadcrumb-secs using rotated pseudo elements*/
.breadcrumb-sec a:after {
  content: '';
  position: absolute;
  top: 0;
  right: -18px; /*half of square's length*/
  /*same dimension as the line-height of .breadcrumb-sec a */
  width: 36px;
  height: 36px;

  transform: scale(0.707) rotate(45deg);
  /*we need to prevent the arrows from getting buried under the next link*/
  z-index: 1;
  /*background same as links but the gradient will be rotated to compensate with the transform applied*/
  background: #666;
  background: linear-gradient(135deg, #666, #333);
  /*stylish arrow design using box shadow*/

  border-radius: 0 5px 0 50px;
}
/*we dont need an arrow after the last link*/
.breadcrumb-sec a:last-child:after {
  content: none;
}


/*Homepage 2*/

.slider-banner{
  margin-bottom: 50px;
}
.slider-home1{
    position: relative;
    margin: 0px auto;
    left: 0px;
    position: relative;
    padding-right: 17px;
    margin-bottom: 17px;
    height: 450px;
    overflow: hidden;
    visibility: visible;
}
.slider-home1 .seq-title1 {
    position: absolute;
    display: inline-block;
    top: 20%;
    left: 7%;
}







/*Media Queries*/

@media only screen and (min-width: 980px) and (max-width : 1200px) {
  .banner-box-no-caption {
    height: 186px;
  }
  .banner-box-no-caption h2 {
    margin-top: 8px;
  }
  .countdown-image{
    width: 100% !important;
  }
  .countdown-desc {
    float: none !important;
    width: 100% !important;
    padding-top: 24px;
    display: inline-block !important;
}
.caption-no-img {

    margin: 18px;
    height: 229px;
    }
    .caption-no-img h2 {
       margin-top: 23px !important;
  }
}



@media only screen and (min-width: 768px) and (max-width : 979px) {
  .banner-box-no-caption {
    padding: 60px;
  }
  .banner-box-no-caption h2{
    margin-top: 0;
  }
  .caption {
    position: absolute;
    right: 0;
    left: 0;
    padding: 11px;
    text-align: center !important;
}
  .countdown-image{
    width: 100% !important;
  }
  .countdown-desc {
    float: none !important;
    width: 100% !important;
    padding-top: 24px;
    display: inline-block !important;
}
 .caption-no-img h2 {
    margin-top: 36px;
    padding: 0;
    }

    .caption-no-img {
    margin: 12px;
    height: 193px;
}
}

@media only screen and (min-width: 481px) and (max-width : 767px) {
  .countdown-image{
    width: 100% !important;
  }
  .countdown-desc {
    float: none !important;
    width: 100% !important;
    padding-top: 24px;
    display: inline-block !important;
}
.caption-no-img{
  margin: 0;
  width: 100%;
}
}

@media only screen and (min-width: 321px) and (max-width : 480px) {
  .caption{
    margin: 0;
  }
  .countdown-image{
    width: 100% !important;
  }
  .countdown-desc {
    float: none !important;
    width: 100% !important;
    padding-top: 24px;
    display: inline-block !important;
}
}

@media only screen and (max-width : 320px) {
  .caption{
    margin: 0;
  }
}



/*Featured iTem*/
.featured-item-title h2 {
    font-size: 47px;
    font-family: "Poppins",sans-serif;
    font-weight: 400;
    margin: 0;
    padding-bottom: 7px;
    text-transform: uppercase;
    padding-top: 12px;
}

.featured-item-title h5 {
    font-family: "Poppins",sans-serif;
    font-size: 26px;
    margin: 0;
    font-weight: 600;
}
.featured{
  padding-right: 41px;
  padding-top: 71px;
}
.featured-btn {
display: inline-block;
padding: 10px 9px;
font-size: 16px;
text-align: center;
white-space: nowrap;
vertical-align: middle;
cursor: pointer;
-moz-user-select: none;
background-image: none;
margin-top: 20px;
background: #fbc825;
border-radius: 0;
color: #fff;
}
.featured-item-wrapper {
    padding-bottom: 40px;
    background: url("../images/parallax.jpg");
    background-size: cover;
    height: 400px;
}



/*Carousel Countdown*/
.countdown-image{
  width: 240px;
  float: left;
}

.countdown-desc {
    float: right;
    width: 310px;
    display: inline-block;
}
.clock-product {
    display: inline-block;
    padding-top: 32px;
    width: 100%;
}
.clock-product .countdown-text {
    border: 2px solid #fbc825;
    padding: 10px;
    border-radius: 50%;
    font-family: "Poppins",sans-serif;
    font-size: 16px;
}
.countdown-desc h3 {
    margin-top: 0;
    font-family: "Poppins",sans-serif !important;
    font-size: 21px;
}

.countdown-desc span {
    color: #fbc825;
    font-size: 25px;
}

/*Feature Style2*/
.feature-sec-style2{
margin-top: 46px;
    position: relative;
}
.fetaure-style2 {
    border: 1px solid;
    display: table;
    text-align: center;
    padding: 28px 0;
    width: 100%;
    position: relative;
}
.fetaure-style2 {
    font-size: 12px;
    margin-bottom: 30px;
    position: relative;
}
.feature-content {
    display: inline-block;
    color: #222;
    margin-bottom: -7px;
    overflow: hidden;
}
.icon {
    display: inline-block;
    float: none;
    margin-right: 20px;
}
.feature-content h3 {
    font-size: 16px;
    font-weight: bold;
    font-family: "Poppins",sans-serif;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 12px;
}
.icon i {
    font-size: 34px;
    padding-top: 0;
}
